* {
  box-sizing: border-box;
  
}
/* table */
#mainTable {
  width: 80vw;
  height: 80vh;
  position: relative;
  margin: 10vh auto;
}
/* card formats */
.card {
  position: relative;
  width: 20vw;
  height: 20vw;
  float: left;
  border: 10px solid #fff;
  background-color: #ccc;
}

.card div {
  position: absolute;
  width: 100%;
  height: 100%;
}

.cardBack{
  background-color: #aaa;
}

.cardFront {
  display: none;
  background-color: #333;
}

.clicked .cardBack {
  display: none;
}

.clicked .cardFront{
  display: Block;
}

/* card pictures -- cards of # + front */
.pic1 .cardFront {
  background-image: url(images/dog1.jpg);
  background-size: cover;
}
.pic2 .cardFront {
  background-image: url(images/dog2.jpg);
  background-size: cover;
}

.card.matched div {
  display: none;
}